<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="/admin/image/favicon.jpeg"/>
    <title>admin</title>
</head>
<body>
<!--头部-->
{include file='../../common/layout/header' /}
<!--头部end-->

<!--内容-->
<div>
application/common/layout/layout.html
{__CONTENT__}
</div>
<!--内容end-->


<!--左侧-->
{include file='../../common/layout/left' /}
<!--左侧end-->

<!--底部-->
{include file='../../common/layout/footer' /}
<!--底部end-->
</body>
</html>